.weather-form {
    .form-input {
        background: none;
        border: none;
        outline: none;
        color: #fff;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bold;

        &::-webkit-input-placeholder {
            color: #fff;
        }

        &:-ms-input-placeholder {
            color: #fff;
        }

        &::-ms-input-placeholder {
            color: #fff;
        }

        &::placeholder {
            color: #fff;
        }

        &:focus,
        &:active {
            background: none;
            color: #fff;
        }
    }

    .form-submit {
        background: none;
        outline: none;
        border: none;
        color: #fff;
        cursor: pointer;

        .icon {
            font-weight: bold;
            font-size: 2rem;
        }

        &:hover {
            .icon {
                opacity: .5;
            }
        }
    }

    .form-submit:-webkit-autofill,
    .form-submit:-webkit-autofill:hover,
    .form-submit:-webkit-autofill:focus {
        background: none !important;
        border: 4px solid green !important;
    }
}