@icomoon-font-family: "weatherapp";
@icomoon-font-path: "../../fonts";

@icon-wind: "\e901";
@icon-compass: "\e902";
@icon-thermo: "\e900";
@icon-sun: "\e90c";
@icon-zoom: "\e917";


@font-face {
    font-family: '@{icomoon-font-family}';
    src: url('@{icomoon-font-path}/@{icomoon-font-family}.eot?egbk4m');
    src: url('@{icomoon-font-path}/@{icomoon-font-family}.eot?egbk4m#iefix') format('embedded-opentype'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.ttf?egbk4m') format('truetype'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.woff?egbk4m') format('woff'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.svg?egbk4m#@{icomoon-font-family}') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '@{icomoon-font-family}' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-wind {
    &:before {
        content: @icon-wind;
    }
}

.icon-compass {
    &:before {
        content: @icon-compass;
    }
}

.icon-thermo {
    &:before {
        content: @icon-thermo;
    }
}

.icon-sun {
    &:before {
        content: @icon-sun;
    }
}

.icon-zoom {
    &:before {
        content: @icon-zoom;
    }
}