.weather {
    position: relative;

    .weather-degrees {
        font-size: 7rem;
        font-weight: bold;
        color: #fff;
        position: relative;

        &::after {
            content: "";
            top: 1.5rem;
            margin-left: .5rem;
            position: absolute;
            width: 1rem;
            height: 1rem;
            border: .7rem solid #fff;
            border-radius: 100%;
        }

        &::before {
            content: "C";
            position: absolute;
            font-size: 5rem;
            margin-left: 12rem;
            color: #fff;
            font-weight: bold;
        }
    }



    .weather-icon {
        position: absolute;
        top: 3rem;
        left: 6rem;
        max-width: 7.5rem;
    }


}

.weather-condition {
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.weather-image {
    position: relative;
    background-color: red;
    margin-top: 4rem;

    .image {
        display: block;
        max-width: 380px !important;
        position: absolute;
        opacity: 0;

        -webkit-transition: opacity 1200ms linear;
        transition: opacity 1200ms linear;
    }
}