/* --------------------------------------------- Flexbox settings mixins */

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.align-self(@pos) {
    @if @pos=="flex-end" {
        -ms-flex-item-align: end;
        align-self: flex-end;
    }

    @else if @pos=="flex-start" {
        -ms-flex-item-align: start;
        align-self: flex-start;
    }

    @else {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
}

.align-items(@pos) {
    -webkit-box-align: @pos;
    -ms-flex-align: @pos;
    align-items: @pos;
}

.align-content(@pos) {
    -ms-flex-line-pack: @pos;
    align-content: @pos;
}

.justify-content(@pos) {
    -webkit-box-pack: @pos;
    -ms-flex-pack: @pos;
    justify-content: @pos;
}

.flex-direction(@dir) {
    @if @dir=="column" {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    @else if @dir=="row-reverse" {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    @else if @dir=="column-reverse" {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    @else {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

.flex-grow(@val) {
    -webkit-box-flex: @val;
    -ms-flex-positive: @val;
    flex-grow: @val;
}

.flex-wrap(@wrap) {
    -ms-flex-wrap: @wrap;
    flex-wrap: @wrap;
}

.order(@order) {
    -webkit-box-ordinal-group: @order;
    -ms-flex-order: @order;
    order: @order;
}

.flex-jus-betw {
    .flex;
    .justify-content(space-between);
    .align-items(center);
    .align-content(center);
}

.flex-cent {
    .flex;
    .justify-content(center);
    .align-items(center);
    .align-content(center);
}