@import "partials/variables";
@import "partials/form";
@import "partials/weather";

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
    background-color: @colors[peachy];
    height: 100vh;
    width: 100vw;

    -webkit-transition: background-color 550ms linear;
    transition: background-color 550ms linear;

    .container {
        width: 48rem;
        margin: 0 auto;
        padding: 2rem;
    }

    &.sunny {
        background-color: @colors[sunny];

        .weather-image {
            .sunny {
                opacity: 1;
            }
        }
    }

    &.cloudy {
        background-color: @colors[cloudy];

        .weather-image {
            .cloudy {
                opacity: 1;
            }
        }
    }
}